/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 15, 2014, 12:52:10 PM
    Author     : david
*/

.node-rtl {
  text-align:right;
}

.incubator-images-right .node-teaser.node-rtl .field-name-field-gallery-images,
.incubator-images-right .node-teaser.node-rtl .field-name-field-media,
.incubator-images-right .node-rtl .field-name-field-main-image {float:left;margin-right:9px;}
.incubator-images-left .node-teaser.node-rtl .field-name-field-gallery-images,
.incubator-images-left .node-teaser.node-rtl .field-name-field-media,
.incubator-images-left .node-rtl .field-name-field-main-image {float:right;margin-left:9px;}

.page-node-rtl h1#page-title {
    text-align: right;
}

@media all and (max-width: 739px) {
  .responsive-layout-mobile .block-commerce-cart {
      box-sizing: border-box;
      padding: 8px !important;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 40px;
      font-size: 14px;
      line-height: 14px;
  }
  .responsive-layout-mobile .block-commerce-cart h2.block-title { display:none !important; }
  .responsive-layout-mobile .block-commerce-cart .view-content { display:none; }
  .responsive-layout-mobile .block-commerce-cart .line-item-total { float: left; margin-left: 8px; }
  .responsive-layout-mobile .block-commerce-cart ul.inline,
  .responsive-layout-mobile .block-commerce-cart ul.inline li { margin: 0; }
  html body.responsive-layout-mobile.html .gp-cart {
      margin-top: 40px !important;
  }
  .branding-data .logo-img img {
    max-width: 100%;
    width: 100%;
  }
}
